<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </link>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Catamaran&display=swap" rel="stylesheet">
    <link href="http://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styles.css">

    <title>Tamales norteños</title>
</head>

<body>
    <div class="container tamales-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <a class="navbar-brand tamales-navbar-logo" href="/admin-perfil">
                <img src="img/tamales-logo.jpeg" width="220" height="160" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <hr>
    </div>

    <div class="container">
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin-perfil">Ver
                        Perfil</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 active"
                        href="/admin-pedidos">Pedidos</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="/admin-clientes">Clientes</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="/admin-productos">Productos</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="/admin-distribucion">Distribución</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="/admin-promociones">Promociones</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="/admin-usuarios">Usuarios</a>
                    <a class="list-group-item border-top list-group-item-action list-group-item-light p-3"
                        href="/logout">
                        <p class="text-danger">Cerrar sesión</p>
                    </a>
                </div>
            </div>

            <!-- Page content-->
            <div style="padding: 2%;" class="container">
                <h3 class="text-center m-3"> Pedido número: <%= pedidos.idPedido%></h3>
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4">
                        <!--Card-->
                        <div class="card p-3">
                            <!--Card content-->
                            <!--Grid row-->
                            <div class="row">
                                <!--Grid column-->
                                <div class="col-md-6 mb-2">
                                    <!--firstName-->
                                    <div class="md-form ">
                                        <label for="Nombre" class="">Nombre del cliente</label>
                                        <input type="text" name="nombre" id="Nombre" class="form-control"
                                            value="<%= pedidos.nombre + ' ' + pedidos.apellidos%> " readonly>
                                    </div>
                                </div>
                                <form class="col-md-6 mb-2" action='admin-editar-pedidos' method='POST'>
                                    <input type='hidden' name='_csrf' value='<%= csrfToken %>'>

                                    <div class="">
                                        <label for="Estatus" class="">Estatus del pedido</label>
                                        <select class="form-select" name="estatus" required>
                                            <option value="<%= pedidos.estatus%>" selected> <%= pedidos.estatus%>
                                            </option>
                                            <option value="En espera de pago">En espera de pago</option>
                                            <option value="En proceso">En proceso</option>
                                            <option value="En camino">En camino</option>
                                            <option value="Entregado">Entregado</option>
                                        </select>
                                        <button class='btn btn-primary btn-sm m-2' type='submit' name='actualizar'
                                            value='true'>
                                            Actualizar estatus
                                        </button>
                                    </div>

                                </form>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="md-form mb-3">
                                    <!--lastName-->
                                    <div class="md-form">
                                        <label for="descripcion" class="">Pedido</label>
                                        <input type="text" name="descripcion" id="descripcion" class="form-control"
                                            value="<%= pedidos.descripcion%>" readonly>
                                    </div>
                                </div>
                                <!--Grid column-->
                            </div>
                            <!--Grid row-->
                            <!--Grid row-->
                            <div class="row">
                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <label for="Celular" class="">Número de Teléfono</label>
                                    <input type="text" name="telefono" id="Celular" class="form-control"
                                        value="<%= pedidos.telefono%>" readonly>
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <label for="Costo" class="">Costo del pedido</label>
                                    <input type="text" name="costoTotal" id="Costo" class="form-control"
                                        value="$<%= pedidos.costoTotal%>" readonly>
                                </div>

                                <!--Grid column-->
                            </div>


                            <div class="row">
                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <label for="Colonia" class="">Colonia</label>
                                    <input type="text" name="colonia" id="Colonia" class="form-control"
                                        value="<%= pedidos.nombreDeColonia%>" readonly>
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <label for="Dia" class="">Día de entrega</label>
                                    <input type="text" name="diaEntrega" id="Dia" class="form-control"
                                        value="<%= pedidos.diaEntrega%>" readonly>
                                </div>
                                <!--Grid column-->
                            </div>



                            <!--Grid row-->
                            <!--address-->
                            <div class="md-form mb-3">
                                <label for="address" class="">Dirección de entrega</label>
                                <input type="text" name="direccion" id="address" class="form-control"
                                    value="<%= pedidos.direccion%>" readonly>
                            </div>

                            <!--address-2-->
                            <div class="md-form mb-5">
                                <label for="address-2" class="">Referencias de entrega</label>
                                <input type="text" name="referencias" id="address-2" class="form-control"
                                    value="<%= pedidos.referenciaDomicilio%>" readonly>
                            </div>
                            <form
                                onSubmit="if(!confirm('¿Está seguro/a que quiere borrar este pedido?')){return false;} "
                                action='admin-editar-pedidos' method='POST'>
                                <input type='hidden' name='_csrf' value='<%= csrfToken %>'>
                                <button class='btn btn-danger btn-md' type='submit' name='eliminar'
                                    value='Eliminar'>Eliminar pedido</button>
                            </form>
                        </div>

                        <!--/.Card-->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer text-center font-small mt-4 wow fadeIn">

        <hr class="my-4">

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2021 Copyright:
            <a> Tamales del Norte Querétaro </a>
        </div>
        <!--/.Copyright-->

    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <!-- <script src="js/scripts.js"></script> -->
    <!-- <script src="http://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <!-- <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script> --> -->

</body>

</html>