<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </link>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Catamaran&display=swap" rel="stylesheet">
    <link href="http://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styles.css">

    <title>Tamales norteños</title>
</head>

<body>
    <div class="container tamales-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <a class="navbar-brand tamales-navbar-logo" href="/admin-perfil">
                <img src="img/tamales-logo.jpeg" width="220" height="160" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <hr>
    </div>

    <div class="container">
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin-perfil">Ver
                        Perfil</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 active"
                        href="/admin-pedidos">Pedidos</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="/admin-clientes">Clientes</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="/admin-productos">Productos</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="/admin-distribucion">Distribución</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="/admin-promociones">Promociones</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="/admin-reporte">Reporte mensual de productos vendidos</a>
                </div>
            </div>

            <!-- Page content-->
            <div style="background-color: #F5BD7A; max-height: 548px; padding: 2%;" class="container">
                <table id="myTable" class="table">
                    <thead>
                        <tr>
                            <th>Día de entrega</th>
                            <th>Descripción del pedido</th>
                            <th>Estatus</th>
                            <th>Cantidad</th>
                            <th>Costo Total</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <footer class="page-footer text-center font-small mt-4 wow fadeIn">

        <hr class="my-4">

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2021 Copyright:
            <a> Tamales del Norte Querétaro </a>
        </div>
        <!--/.Copyright-->

    </footer>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <!-- <script src="js/scripts.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        var data = [
        <% for (let pedido of pedidos) {%>
            [
                "<%= pedido.diaEntrega%>",
                "<%= pedido.descripcion%>",
                "<%= pedido.estatus%>",
                "<%= pedido.cantidadTotal%>",
                "<%= pedido.costoTotal%>"
            ], <% } %>
        ];
        $(document).ready(function () {
            $('#myTable').DataTable({ data: data });
        });
    </script>
</body>

</html>